.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24vw;
    position: relative;
    cursor: pointer;
}

.menu .underline{
    width: 25%;
    border-bottom: 2px solid;
    position: absolute;
    bottom: -10px;
}

