.weather{
    width: 55%;
}

.weather .details{
    display: flex;
    justify-content: space-between;

}

.weather .details .icon-container{
    width: 40%;
}

.weather .details .icon-container .icon-image{
    width: 100%;
}

.weather .details .weather-text{
    text-align: left;
    color: #fcfbfd;
    
}

.weather .details .weather-text .temp{
    font-family: 'almoni bold';
    font-size: 65px;
    font-weight: bold;
}

weather .details .weather-text .weather-info{
    font-family: 'almoni light';
    font-size: 20px;
}
