.city {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5vw;
  height: 100%;
}

.city .info {
  text-align: right;
  width: 24vw;
}

.city .info .subtitle {
  font-size: 40px;
  font-family: "almoni bold";
  margin-bottom: 10px;
}
.city .info .about {
  margin-bottom: 80px;
}

.city .info .about .text {
  font-family: "almoni light";
  color: rgba(252, 251, 253, 255);
  font-size: 20px;
  text-align: justify;
}

.city .visual {
  width: 66vw;
  padding-top: 20px;
  height: 100%;
  position: relative;
}

.city .visual .name {
  font-size: 110px;
  font-family: "almoni bold";
}

.city .visual .city-bg {
  width: 100%;
}

