header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 30px;
    color: #fcfbfd;
}
.other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
}