body {
  margin: 0;
  padding: 0;
  font-family: 'almoni regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

h1, h2, h3, h4, h5, h6, p, span{
  margin: 0;
}

@font-face {
  font-family: 'almoni regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/almoni-dl-aaa-regular.otf') format('otf'), 
}

@font-face {
  font-family: 'almoni light';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/almoni-dl-aaa-light.otf') format('otf'), 
}

@font-face {
  font-family: 'almoni bold';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/almoni-dl-aaa-bold.otf') format('otf'), 
}

@font-face {
  font-family: 'almoni black';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/almoni-dl-aaa-black_0.otf') format('otf'), 
}
